.Input {
	width: 90%;
	padding: 10px;
	box-sizing: border-box;
}

.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	margin: -7px 0px;
	display: block;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

.InputElement:focus {
	outline: none;
	background-color: rgba(89, 134, 161, 0.295);
}

.Invalid {
	border: 1px solid rgba(207, 29, 29, 0.685);
	background-color: rgba(202, 77, 39, 0.452);
}
