.Button {
	width: 86%;
	background-color: #fcd00fdc;
	border: 1px solid #ccc;
	color: white;
	outline: none;
	cursor: pointer;
	font: inherit;
	padding: 8px 0px;
	margin: 9px 44px;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 5px;
	transition: all 0.7s ease;
}

.Button:hover,
.Button:active,
.Button:active {
	background-color: #ffffff;
	border: 1px solid #ccc;
	color: rgb(5, 202, 21);
}

.Button:first-of-type {
	margin-left: 0;
	padding-left: 0;
}

.Button:disabled {
	color: #ccc;
	cursor: not-allowed;
}

.Success {
	color: #ffffff;
}

.Danger {
	color: #944317;
}
